
*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 5rem 80vw;
    overflow-x: hidden;
}

nav {
    grid-column:  1 / 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px 10px 0;
    box-shadow: 0px 0px 10px #222;
    cursor: pointer;
}

main{
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}

.box {
    width: 350px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    cursor: pointer;

}
.login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #6b7e86;
    border-radius: 8px;
    height: 200px;
    justify-content: space-evenly;

}

a {
    text-decoration: none;
    color: #6b7e86;
}
.link a{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    color: #6b7e86;
    text-decoration: none;
}

.link a:hover{
    color: lightblue;
}